@import '../../global.scss';

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://i.postimg.cc/GhxQP4vZ/fresh2.jpg');
  background-size: cover;
  background-position: center;

  @include mobile {
    height: calc(100vh - 100px);
  }

  .infoCard {
    width: 50%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px black;
    background-color: rgba(255, 255, 255, 1);
    transition: all 1s ease;

    @include mobile {
      padding: 0px;
      width: 90%;
      height: 500px;
    }

    .name {
      color: $borderColor;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .title {
      font-size: 30px;
      font-weight: 400;
      color: $borderColor;
      text-transform: uppercase;
    }

    .desc {
      font-size: 20px;
      margin: 0px 50px;
      color: $textColor;

      @include mobile {
        font-size: 18px;
        margin: 0 20px;
      }
    }

    .imgContainer {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }

      @include mobile {
        display: none;
      }
    }
  }
}
