@import '../../global.scss';

.about {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  .infoCard {
    width: 50%;
    margin: 50px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px 3px black;
    background-color: whitesmoke;

    @include mobile {
      width: 80%;
    }

    .name {
      color: $borderColor;
      font-size: 25px;
      font-weight: 600;
      text-transform: uppercase;

      @include mobile {
        font-size: 22px;
      }
    }

    .title {
      font-size: 45px;
      font-weight: 300;
      color: $borderColor;
      text-transform: uppercase;

      @include tablet {
        font-size: 35px;
      }

      @include mobile {
        font-size: 24px;
      }
    }

    .desc {
      font-size: 24px;
      padding: 20px;
      color: $textColor;

      @include tablet {
        font-size: 22px;
      }

      @include mobile {
        font-size: 16px;
        padding: 10px;
      }
    }

    .imgContainer {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }
  }
}
