@import '../../global.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.7s 0.1s forwards;

  .wrapper {
    background: rgba(0, 0, 0, 0.7);
    width: 70vw;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;

    @include mobile {
      display: flex;

      flex-direction: column;
      width: 100%;
      height: 50vh;
    }

    .iconContainer {
      display: flex;

      .icon {
        cursor: pointer;
        color: white;

        &:hover {
          color: red;
        }
      }
    }

    .imgContainer {
      width: 100%;
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }
}
