@import '../../global.scss';

.contact {
  width: 100%;
  height: calc(100vh - 180px);
  background-color: $lightColor;
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    gap: 0;
  }

  .left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    .container {
      width: 70%;
      height: 85%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      box-shadow: 0px 0px 15px 3px $borderColor;

      @include tablet {
        width: 90%;
        padding: 0;
      }

      @include mobile {
        width: 100%;
        box-shadow: none;
        // padding: 20px;
      }

      .top {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .info {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 20px;

          @include mobile {
            padding: 0;
          }

          .title {
            width: max-content;
            font-size: 35px;
            font-weight: 400;
            border-bottom: 1px solid $borderColor;
            color: $borderColor;
            margin-bottom: 40px;
            align-self: center;
            text-transform: uppercase;

            @include tablet {
              font-size: 30px;
            }

            @include mobile {
              font-size: 25px;
              margin-top: 10px;
            }
          }

          .infoContainer {
            display: flex;
            flex-direction: column;

            .item {
              display: flex;
              justify-content: space-between;
              font-size: 20px;

              @include mobile {
                font-size: 15px;
              }
            }
          }
        }
      }

      .bottom {
        width: 80%;

        .formContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0px 50px;

          @include tablet {
            padding: 0;
          }

          .title {
            width: max-content;
            color: $borderColor;
            border-bottom: 1px solid $borderColor;
            font-weight: 400;
            font-size: 35px;
            text-transform: uppercase;

            @include tablet {
              font-size: 30px;
            }

            @include mobile {
              margin-top: 20px;
              font-size: 25px;
            }
          }

          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;

            @include tablet {
              width: 90%;
            }

            @include mobile {
              margin-top: 10px;
            }

            input {
              width: 100%;
              height: 30px;
              border: none;
              margin: 5px;
              font-size: 18px;
              background-color: whitesmoke;

              @include mobile {
                height: 25px;
                font-size: 16px;
              }

              &.active,
              &:focus {
                outline: none;
              }

              &::placeholder {
                font-size: 15px;
                text-transform: uppercase;

                @include mobile {
                  font-size: 12px;
                }
              }
            }

            textarea {
              width: 100%;
              height: 80px;
              border: none;
              font-size: 18px;
              resize: none;
              margin-top: 5px;
              background-color: whitesmoke;

              @include mobile {
                height: 60px;
                font-size: 16px;
              }

              &.active,
              &:focus {
                outline: none;
              }

              &::placeholder {
                text-transform: uppercase;

                @include mobile {
                  font-size: 12px;
                }
              }
            }

            .btn-form {
              width: 90%;
              padding: 10px 10px;
              margin-top: 20px;
              cursor: pointer;
              font-size: 18px;
              text-transform: uppercase;
              transition: all 0.3s linear;
              border: 1px solid $sidebarColor;
              border-radius: 5px;

              @include mobile {
                margin-bottom: 15px;
                padding: 5px 5px;
              }

              &:hover {
                background-color: $sidebarColor;
                color: whitesmoke;
              }
            }
          }
        }
      }
    }
  }

  .right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .info-map {
      position: absolute;
      background-color: white;
      top: 20%;
      left: 35%;
      z-index: 4;
      width: 250px;
      padding: 10px;
      color: $borderColor;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      border: 1px solid $sidebarColor;

      @include tablet {
        width: 70%;
        left: 12.5%;
      }

      @include mobile {
        top: 60%;
        left: 20px;
        width: 90%;
        font-size: 16px;
        padding: 0;
      }

      span {
        font-size: 20px;
        display: block;
        padding-top: 5px;
        color: $textColor;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .mapContainer {
      width: 70%;
      height: 90%;
      box-shadow: 0px 0px 15px 3px $borderColor;

      @include tablet {
        width: 90%;
        height: 85%;
      }

      @include mobile {
        width: 100%;
        height: 40vh;
        box-shadow: none;
      }
    }
  }

  .leaflet-container {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 2;
  }
}
