@import '../../global.scss';

.contact {
  width: 100%;
  height: calc(100vh - 180px);
  background-color: $lightColor;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;

  @include mobile {
    flex-direction: column;
    height: calc(100% - 70px);
    margin-top: 10px;
    gap: 0;
  }

  .left {
    flex: 0.8;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 15px 3px $borderColor;
    border-radius: 10px;
    margin-left: 100px;

    @include mobile {
      width: 100%;
      margin: 0 auto;
      box-shadow: none;
      border-radius: 0px;
    }

    .top {
      width: 80%;

      .info {
        display: flex;
        flex-direction: column;
        padding: 20px;

        @include mobile {
          padding: 0;
        }

        .title {
          width: max-content;
          font-size: 35px;
          font-weight: 400;
          border-bottom: 1px solid $borderColor;
          color: $borderColor;
          margin-bottom: 20px;
          align-self: center;

          @include mobile {
            font-size: 25px;
            margin-top: 10px;
          }
        }

        .infoContainer {
          display: flex;
          flex-direction: column;

          .item {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    .bottom {
      width: 80%;

      .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;

        @include mobile {
          padding: 0;
        }

        .title {
          font-size: 40px;
          color: $borderColor;
          border-bottom: 1px solid $borderColor;
          font-weight: 400;
          width: max-content;
          font-size: 35px;

          @include mobile {
            margin-top: 20px;
            font-size: 25px;
          }
        }

        form {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;

          @include mobile {
            width: 100%;
            margin-top: 10px;
          }

          input {
            width: 100%;
            height: 30px;
            border: none;
            border-bottom: 1px solid $borderColor;
            margin: 5px;
            font-size: 20px;

            @include mobile {
              height: 25px;
              font-size: 16px;
            }

            &.active,
            &:focus {
              outline: none;
            }

            &::placeholder {
              font-size: 15px;
              text-transform: uppercase;

              @include mobile {
                font-size: 12px;
              }
            }
          }

          textarea {
            width: 100%;
            height: 80px;
            border: none;
            border-bottom: 1px solid black;
            font-size: 15px;
            resize: none;

            @include mobile {
              height: 60px;
              font-size: 16px;
            }

            &.active,
            &:focus {
              outline: none;
            }

            &::placeholder {
              text-transform: uppercase;

              @include mobile {
                font-size: 12px;
              }
            }
          }

          .btn-form {
            width: 100%;
            padding: 10px 10px;
            margin-top: 20px;
            cursor: pointer;
            font-size: 18px;
            text-transform: uppercase;
            transition: all 0.3s linear;
            border: 1px solid $sidebarColor;
            border-radius: 5px;

            @include mobile {
              margin-bottom: 15px;
              padding: 5px 5px;
            }

            &:hover {
              background-color: $sidebarColor;
              color: whitesmoke;
            }
          }
        }
      }
    }
  }

  .right {
    flex: 1;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;

    @include mobile {
      padding: 0;
    }

    .info-map {
      position: absolute;
      background-color: white;
      top: 20%;
      left: 35%;
      z-index: 4;
      width: 250px;
      padding: 10px;
      color: $borderColor;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      border: 1px solid $sidebarColor;
      border-radius: 10px;

      @include mobile {
        top: 70%;
        left: 0px;
        width: calc(100% - 2px);
        border-radius: 0;
        font-size: 16px;
        padding: 0;
      }

      span {
        font-size: 20px;
        display: block;
        padding-top: 5px;
        color: $textColor;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .mapContainer {
      width: 80%;
      height: 100%;
      box-shadow: 0px 0px 15px 3px $borderColor;
      border-radius: 10px;

      @include mobile {
        width: 100vw;
        height: 50vh;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
  }
}
