@import '../../global.scss';

.menuList {
  margin: 20px 0px;
  font-size: 20px;
  margin-right: 50px;
  padding: 10px;
  color: $textColor;
  cursor: pointer;

  @include tablet {
    margin-right: 10px;
  }

  @include mobile {
    margin: 0px;
    padding: 5px;
    font-size: 18px;
  }

  &.active {
    color: $sidebarColor;
    border-bottom: 1px solid $sidebarColor;
  }
}
