* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}
