* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scrollbar-width: none;

  overflow: scroll;
  overflow-x: hidden;

  /* Optional: show position indicator in red */
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body {
  overflow-x: hidden;
}
